@page "/profile";

@if (_loading)
{
    <h1 class="header-default">Loading...</h1>
}
else
{
    @if (_showForm)
    {
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card settings-card">
                    <div class="card-header LMS-title">
                        <h3>Edit Profile</h3>
                    </div>
                    <div class="card card-body settings-card-body">
                        <EditForm Model="Model" OnValidSubmit="@SaveSettings">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="form-group ">
                                <label for="profile-image-upload" class="LMS-form-label">Profile Picture</label>
                                <InputFile id="profile-image-upload" OnChange="UploadImageOnChange" title="Upload a profile image" />
                            </div>
                            <div class="form-group ">
                                <InputText id="fname" class="form-control LMS-input" type="text" placeholder="First Name" @bind-Value="Model.Account.FirstName" />
                            </div>
                            <div class="form-group ">
                                <InputText id="lname" class="form-control LMS-input" type="text" placeholder="Last Name" @bind-Value="Model.Account.LastName" />
                            </div>
                            <div class="form-group">
                                <InputDate id="birthday" class="form-control LMS-input" title="Users must be 18+" type="date" @bind-Value="Model.Account.DOB" />
                            </div>
                            <div class="form-group ">
                                <InputText id="email" class="form-control LMS-input" type="text" placeholder="Email" disabled @bind-Value="Model.Account.Email" />
                            </div>
                            <div class="form-group">
                                <select id="role" class="form-control LMS-Input" @bind="Model.Account.Role">
                                    <option value="1">Student</option>
                                    <option value="2">Professor</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <InputText id="address" class="form-control LMS-input" type="text" placeholder="Address" @bind-Value="Model.Settings.Address" />
                            </div>
                            <div class="form-group ">
                                <InputText id="city" class="form-control LMS-input" type="text" placeholder="City" @bind-Value="Model.Settings.City" />
                            </div>
                            <div class="form-group">
                                <select id="profid" class="form-control LMS-Input" @bind="Model.Settings.State">
                                    <option value="0">- Select State -</option>
                                    @foreach (var s in Model.State.States)
                                    {
                                        <option value="@s.Abbreviations">@($"{s.Name} - {s.Abbreviations}")</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group ">
                                <InputText id="zipcode" class="form-control LMS-input" type="text" placeholder="ZipCode" @bind-Value="Model.Settings.ZipCode" />
                            </div>
                            <div class="form-group ">
                                <InputText id="country" class="form-control LMS-input" type="text" placeholder="Country" @bind-Value="Model.Settings.Country" />
                            </div>
                            <div class="form-group ">
                                <InputText id="phone" class="form-control LMS-input" type="text" placeholder="Phone Number" @bind-Value="Model.Settings.Phone" />
                            </div>
                            <div class="form-group ">
                                <InputTextArea id="biography" class="form-control LMS-input" type="text" placeholder="Biography" @bind-Value="Model.Settings.Biography" />
                            </div>
                            <div class="form-group ">
                                <InputText id="sml1" class="form-control LMS-input" type="text" placeholder="Social Media Link 1" @bind-Value="Model.Settings.SocialMediaLink1" />
                            </div>
                            <div class="form-group ">
                                <InputText id="sml2" class="form-control LMS-input" type="text" placeholder="Social Media Link 2" @bind-Value="Model.Settings.SocialMediaLink2" />
                            </div>
                            <div class="form-group ">
                                <InputText id="sml3" class="form-control LMS-input" type="text" placeholder="Social Media Link 3" @bind-Value="Model.Settings.SocialMediaLink3" />
                            </div>

                            <button class="btn btn-primary LMS-btn" type="submit">Save</button>
                        </EditForm>
                        <MatButton Class="btn btn-secondary LMS-btn" @onclick="@(() => { _showForm = false; })">Cancel</MatButton>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    }
    else
    {
        <h3 class="header-default courses-header profileHeader"></h3>
        <MatButton Class="add-new-course" @onclick="@(() => { _showForm = true; })">Edit</MatButton>
        <br />
        @if (Model.Settings != null)
        {
            <div class="card">
                <div class="profile_page row">
                    <div class="col-md-4">
                        <br />
                        @if (!string.IsNullOrEmpty(_profileImageSrc))
                        {
                            <div class="col-md-6">
                                <img class="settings-profile-img" src="@_profileImageSrc" />
                            </div>
                        }
                    </div>
                    <div class="profile-data-grid col-md-4">
                        <h1 id="profile_name">@Model.Account.FirstName @Model.Account.LastName</h1>
                        <h3 id="profile_data">Birthday: @Model.Account.DOB</h3>
                        <h3 id="profile_data">Email: @Model.Account.Email</h3>
                        <h3 id="profile_data">@Model.Settings.Address</h3>
                        <h3 id="profile_data">@Model.Settings.City, @Model.Settings.State @Model.Settings.ZipCode</h3>
                        <h3 id="profile_data">@Model.Settings.Country</h3>
                        <h3 id="profile_data">Phone # @Model.Settings.Phone</h3>
                    </div>
                    <div class="profile-bio-grid col-md-4">
                        <h3>Bio:</h3>
                        <p id="profile_bio">@Model.Settings.Biography</p>
                    </div>
                </div>
                <div class="row profile-link-grid">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><img src="https://louisville.edu/philosophy/images/icons-for-footer/twittericon2.png/image" style="max-height: 50px; width: auto;" /></div>
                    <div class="col-md-3"><img src="https://louisville.edu/philosophy/images/icons-for-footer/twittericon2.png/image" style="max-height: 50px; width: auto;" /></div>
                    <div class="col-md-3"><img src="https://louisville.edu/philosophy/images/icons-for-footer/twittericon2.png/image" style="max-height: 50px; width: auto;" /></div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><a href="@Model.Settings.SocialMediaLink1">@Model.Settings.SocialMediaLink1</a></div>
                    <div class="col-md-3"><a href="@Model.Settings.SocialMediaLink1">@Model.Settings.SocialMediaLink1</a></div>
                    <div class="col-md-3"><a href="@Model.Settings.SocialMediaLink1">@Model.Settings.SocialMediaLink1</a></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        }
        else
        {
            <h1 class="header-default">How TF did you get here?</h1>
        }
    }
}

@code {
    private SettingsViewModel Model = new SettingsViewModel();
    private bool _showForm;
    private bool _loading = true;
    private string _profileImageSrc;
    private string[] _ignoreProps = { "SettingId", "ProfileImage", "UpdateDate", "AccountId", "CreateDate", "DeleteDate" };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Setup();
        }
    }

    private async Task Setup()
    {
        Model.Account = await DbService.GetAccount(AzureDb, (await SessionObj.GetSession(AzureDb, Storage)).AccountId);
        Model.Settings = await DbService.GetSettings(AzureDb, Model.Account.AccountId);

        if (Model.Settings == null)
        {
            Model.Settings = new Data.Models.Settings()
            {
                AccountId = Model.Account.AccountId
            };
        }

        SetProfileImage();

        _loading = false;
        StateHasChanged();
    }

    /// <summary>
    /// Handles when a new Profile Image is uploaded.
    /// </summary>
    /// <param name="files"></param>
    /// <returns></returns>
    private async Task UploadImageOnChange(IFileListEntry[] files)
    {
        Model.ImageUpload = await LMS_Image.ConvertFileToByteArray(files.FirstOrDefault());
    }

    /// <summary>
    /// Sets the Profile Image from saved byte[].
    /// </summary>
    /// <returns></returns>
    private void SetProfileImage()
    {
        _profileImageSrc = Model.Settings.ProfileImage != null && Model.Settings.ProfileImage.Length > 0 ?
            LMS_Image.GetImageSrc(Model.Settings.ProfileImage)
            : null;
    }

    /// <summary>
    /// Saves the settings selected.
    /// </summary>
    private async void SaveSettings()
    {
        //save account
        var acctSaved = await DbService.UpdateAccount(AzureDb, Model.Account);

        //save settings
        Model.Settings.UpdateDate = DateTime.UtcNow;
        if (Model.ImageUpload != null && Model.ImageUpload.Length > 0)
        {
            Model.Settings.ProfileImage = Model.ImageUpload;
            SetProfileImage();
        }
        var settingsSaved = await DbService.SaveSettings(AzureDb, Model.Settings);

        _showForm = !settingsSaved;
        StateHasChanged();
        await JS.InvokeVoidAsync("Toast", new[] { (acctSaved && settingsSaved ? "success" : "error"), (acctSaved && settingsSaved ? "Saved Profile Settings" : "An Error Occured"), "3000" }); // toasttype, message, duration
    }
}
